:root {
    --bg-card: rgba(255, 255, 255, 0.9);
    --black: #000;
    --dark-grey: #262626;
    --grey: #e2dfda;
    --light-grey: #f0f0f0;
    --white: #fff;
    --muted: rgba(255, 255, 255, 0.4);
    --gold: #c3970f;
    --red: #ed1d00;
}

$colors: (
    'white': var(--white),
    'light-grey': var(--light-grey),
    'muted': var(--muted),
    'gold': var(--gold),
    'red': var(--red),
    'black': var(--black),
    'dark-grey': var(--dark-grey),
    'grey': var(--grey),
);
