:root {
    --bg-card: rgba(255, 255, 255, 0.9);
    --black: #000;
    --dark-grey: #262626;
    --grey: #e2dfda;
    --light-grey: #f0f0f0;
    --white: #fff;
    --gold: #c3970f;
    --red: #f14332;
    --beige: #bea57d;
    --brown: #292410;
}

$colors: (
    'white': var(--white),
    'light-grey': var(--light-grey),
    'gold': var(--gold),
    'red': var(--red),
    'black': var(--black),
    'dark-grey': var(--dark-grey),
    'grey': var(--grey),
    'beige': var(--beige),
    'brown': var(--brown),
);

@each $name, $hex in $colors {
    .text-#{$name} {
        color: $hex;
    }
    .bg-#{$name} {
        background-color: $hex;
    }
}
