.badge {
    background-image: url('/images/bg_badge.png');
    background-position: center;
    background-size: cover;
    border-radius: 14px;
    color: var(--white);
    font-size: 14px;
    margin: 2px;
    padding: 5px 10px;
}
