.card {
    background-color: var(--light-grey);
    border-radius: 8px;
    margin: 12px 15px;
    position: relative;
}

.cardHeader {
    background-color: var(--brown);
    color: var(--white);
    flex-direction: column;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: bold;
    padding: 8px 12px;
}

.cardContent {
    padding: 10px;
}
