.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
    width: 100%;
    max-width: 768px;

    > a {
        background-color: var(--dark-grey);
        border-radius: 20px;
        color: var(--white);
        padding: 6px 4px 2px 4px;
        text-decoration: none;
        white-space: nowrap;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        text-align: center;

        &.active {
            background-color: var(--beige);
            background-image: none;
            color: var(--white);
        }
    }
}
