.tabs {
    border: 2px solid var(--white);
    background-color: var(--beige);
    border-radius: 14px;
    padding: 5px;
    position: relative;

    > span {
        padding: 6px 10px;
        border-radius: 14px;
        color: var(--black);
        font-size: 13px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 4px;

        &.active {
            background-image: url('/images/bg_badge.png');
            background-position: center;
            background-size: cover;
            color: var(--white);
            font-weight: 500;
        }
    }
}
