.tabs {
    border: 2px solid var(--white);
    background-color: var(--grey);
    border-radius: 8px;
    padding: 5px;
    position: relative;

    > span {
        padding: 6px 10px;
        border-radius: 8px;
        color: var(--dark-grey);
        font-size: 13px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 4px;

        &.active {
            background-color: var(--light-grey);
            color: var(--black);
        }
    }
}
